@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    --main-font: 'Raleway', sans-serif;
    --text-font: 'Quicksand', sans-serif;

    font-size: 16px;
    --font-size-2xl: 3rem;
    --font-size-xl: 2.5rem;
    --font-size-l: 2rem;
    --font-size-2m: 1.5rem;
    --font-size-m: 1.25rem;
    --font-size-r: 1rem;
    --font-size-s: 0.875rem;
    --font-size-xs: 0.75rem;

    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;


    --padding-2xl: 3rem;
    --padding-xl: 2.5rem;
    --padding-l: 2rem;
    --padding-2m: 1.5rem;
    --padding-m: 1.25rem;
    --padding-r: 1rem;
    --padding-s: 0.875rem;
    --padding-xs: 0.75rem;
    --padding-2xs: 0.5rem;

    --margin-2xl: 3rem;
    --margin-xl: 2.5rem;
    --margin-l: 2rem;
    --margin-2m: 1.5rem;
    --margin-m: 1.25rem;
    --margin-r: 1rem;
    --margin-s: 0.875rem;
    --margin-xs: 0.75rem;
    --margin-2xs: 0.5rem;

    --gap-2xl: 3rem;
    --gap-xl: 2.5rem;
    --gap-l: 2rem;
    --gap-2m: 1.5rem;
    --gap-m: 1.25rem;
    --gap-r: 1rem;
    --gap-s: 0.875rem;
    --gap-xs: 0.75rem;

    --letter-spacing-l: 4px;
    --letter-spacing-s: 2px;

    --border-radius-s: 8px;
    --border-radius-m: 10px;
    --border-radius-l: 500px; 

    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 16px;
    height: 100vh;
  }

  .menu {
   padding: var(--padding-l) var(--padding-2m);
   width: 100%;
   text-align: center;
   position: fixed;
   top: 0;
   z-index: 1;

   @media (min-width: 500px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
   }

  }
  .menu {
    background: var(--nav-bg-color);
  }

  .menu img {
    width: 100px;

    @media (min-width: 500px) {
    width: 160px;
   }

  }

  .menu__item {
    padding: var(--padding-r) 0 var(--padding-2xs) 0; 
  }

.menu__signin,
.menu__subscription {
    font-size: var(--font-size-xs);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-s);
}

.menu__signin {
    margin-right: var(--margin-2m);
}

.menu__subscription {
    padding: var(--padding-2xs) 26px;

    @media (min-width: 500px) {
    margin-right: var(--margin-2m);
   }
}

.menu__subscription {
    background: var(--tertiary-color);
    border-radius: var(--border-radius-m);
    transition: background 1s, color 1s;
    border:none;
}
.menu__subscription:hover {
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
    cursor: pointer;
}

  .container {
    max-width: 1200px;
    margin: auto;
    padding: var(--padding-2m);
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--main-font);
  }

  h1 {
    font-size: var(--font-size-2xl);
  }

  h2 {
    font-size: var(--font-size-l);
  }

  p {
    font-family: var(--text-font);
  }

  .footer {
    padding: var(--padding-2m);
    text-align: center;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 480px) {
        flex-direction: row;
    }
}

.footer__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-s);
    margin: 0 var(--margin-s) var(--margin-r);
    color: var(--link-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-s);
    transition: .5s ease-in;

     @media screen and (min-width: 480px) {
        margin: 0 var(--margin-s);
    }
}

.footer__link:hover {
    color: var(--text-color);
}

.footer__small {
    margin: var(--margin-r) 0;
    font-family: var(--text-font);
    font-size: var(--font-size-s);
    color: var(--link-color);
    font-weight: var(--font-weight-light);
}

.footer__social {
    margin: 80px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
}



 ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: var(--border-radius-m);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }