@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
@import url(../css/global.css);
@import url(../css/reset.css);

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    --main-font: 'Raleway', sans-serif;
    --text-font: 'Quicksand', sans-serif;
    font-size: 16px;

    scroll-behavior: smooth;
  }

  body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 16px;
  }

  .menu {
   padding: 32px 24px;
   text-align: center;
   position: relative;
   top: 0;
   z-index: 1;

   @media (min-width: 500px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
   }

  }
  .menu {
    background: var(--nav-bg-color);
  }

  .menu img {
    width: 100px;

    @media (min-width: 500px) {
    width: 160px;
   }
  }

  .menu__item {
    padding: 16px 0 8px 0; 
  }

.menu__signin,
.menu__subscription {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 2px;
}

.menu__signin {
    margin-right: 24px;
}

.menu__subscription {
    padding: 8px 26px;

     @media (min-width: 500px) {
    margin-right: 24px;
   }
}

.menu__subscription {
    background: var(--tertiary-color);
    border-radius: 10px;
}
.menu__subscription:hover {
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
}

.header {
    padding: 100px 0 300px;
    text-align: center;
}
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 40px;


}

.header__partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.header__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}

.header__thin--text {
    font-size: 32px;
    font-weight: lighter;
    display: block;
}

.divider {
    width: 70%;
    height: 5px;
    background: var(--divider-bg-color);
    max-width: 700px;
}

.header__text {
    font-family: var(--text-font);
    font-size: 20px;
}

.promo__price {
    font-size: 40px;
    font-weight: 700;
}

.promo__small--text {
    font-size: 16px;
    font-weight: 400;
}

.header__button {
    padding: 16px 40px;
}

.header__button {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 700;
    color: var(--text-color);
    background: var(--btn-bg-color-gradient);
    border-radius: 10px;
}

.text__small {
    font-weight: 300;
}

.container {
    text-align: center;
    margin: auto;
    max-width: 1200px;
    padding: 24px;
}

.title {
    font-size: 32px;
    font-weight: 500;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    text-align: center;
}

.subscription__plans {
    margin: 40px 0;
}

.plans__card {
    background: var(--card-bg-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
    border-radius: 8px;
    min-height: 600px;
}

.subtitle {
    font-size: 23.4px;
    color: var(--text-color);
    font-weight: 700;
}

.price {
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-color);
}

.small__text {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 300;
}

::marker {
    content:"+";
    font-size: 32px;
    margin: 0 8px 0 0;
}

.list__item {
    margin: 0 0 14px;
    padding: 0 0 0 14px;
    text-align: left;
}

.mobile__button {
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13.3px;
    padding: 16px 40px;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    background: var(--btn-bg-color-gradient);
    color: var(--text-color);
}

.contents {
    text-align: center;
    padding: 24px;
    margin: 100px 0;
    width: 100%;
    max-width: 1200px;
}

.contents__title {
    font-size: 32px;
    font-weight: 500;
}

.contents__container {
    display: grid;
    grid-template-columns: repeat(6, 100%);
    grid-auto-flow: column;
    overflow: auto hidden;
    margin-top: 40px;
    
}

.contents__card img {
    width: 100%;
}

.footer {
    padding: 24px;
    text-align: center;
}

.footer__menu {
    display: flex;
    flex-direction: column;
}

.footer__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 14px 16px;
    color: var(--link-color);
    font-weight: 700;
    font-size: 14px;
}

.footer__small {
    margin: 16px 0;
    font-family: var(--text-font);
    font-size: 12px;
    color: var(--link-color);
    font-weight: 300;
}

.footer__social {
    margin: 80px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

