@import url(../css/global.css);

.header {
    padding: 100px 0 300px;
    margin-top: 80px;
    text-align: center;
    background: var(--primary-color);

    @media screen and (min-width: 768px) {
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;    
    }
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xl);
    padding: 0 var(--padding-xl);

}

.header__partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-2m);
}

.header__title {
    text-align: center;
    text-transform: uppercase;
}

.header__thin--text {
    font-size: var(--font-size-l);
    font-weight: lighter;
    display: block;
}

.divider {
    width: 70%;
    height: 5px;
    background: var(--divider-bg-color);
    max-width: 700px;
}

.header__text {
    font-family: var(--text-font);
    font-size: var(--font-size-m);
}

.promo__price {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.promo__small--text {
    font-size: var(--font-size-r);
    font-weight: var(--font-weight-regular);
}

.header__button {
    padding: var(--padding-r) var(--padding-xl);
}

.header__button {
    text-transform: uppercase;
    border: none;
    letter-spacing: var(--letter-spacing-l);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
    border-radius: var(--border-radius-l);
    animation: wiggle 2.2s linear infinite;
}

.button--gradient {
    transition: background 1s, outline 1s, transform 1s;
    outline: 3px solid transparent;
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
}

@keyframes wiggle {
    0%, 10% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0deg);
    }
}

.header__button:hover,
.button__card:hover {
    background: transparent;
    cursor: pointer;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}


.text__small {
    font-weight: var(--font-weight-light);
}

.title {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
}

.subscription {
    background: url(../img/background-movies-series.png), no-repeat;
    background-size: cover;
    position: relative;
}

.subscription__title {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
    text-align: center;
}

.subscription__plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 2000px;
    perspective-origin: top;

     @media screen and (min-width: 1140px) {
        flex-direction: row;
        gap: var(--gap-xl);
    }
}

.subscription__card {
    padding: var(--padding-xl);
    background: var(--card-bg-color);
    border-radius: var(--border-radius-s);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
    max-width: 600px;
    margin: var(--margin-xl) 0;
    transition: transform 1s ease-in-out;
}

.subscription__plans:has(.subscription__card:nth-child(1):hover)
  .subscription__card:nth-child(2) {
  transform: rotateY(-45deg);
}

.subscription__plans:has(.subscription__card:nth-child(2):hover)
  .subscription__card:nth-child(1) {
  transform: rotateY(45deg);
}


.subscription__emphasis {
    @media screen and (min-width: 480px) {
        display: flex;
        justify-content: space-between;
    }
}

.subscription__subtitle {
    font-size: var(--font-size-2m);
    font-weight: var(--font-weight-bold);
}

.subscription__price {
    font-size: var(--font-size-2m);
    font-weight: var(--font-weight-bold);
    color: var(--secondary-color);

    @media screen and (min-width: 480px) {
        font-size: var(--font-size-l)
    }
}

.text__small {
    font-size: var(--font-size-r);
    color: var(--text-color);
}

::marker {
    content:"+";
    font-size: var(--font-size-l);
    margin: 0 var(--margin-2xs) 0 0;
}

.subscription__list {
    margin: var(--margin-2m) 0;
}

.list__item {
    text-align: left;
    padding-left: var(--padding-s);
    margin-bottom: var(--margin-s);
    list-style: none;

     @media screen and (min-width: 480px) {
        font-size: var(--font-size-m);
    }
}

.button__card {
    letter-spacing: var(--letter-spacing-l);
    font-size: var(--font-size-s);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
    text-align: center;
    background: var(--btn-bg-color-gradient);
    padding: var(--padding-r) var(--padding-xl);
    border-radius: var(--border-radius-l);
    border: none;

}

.contents {
    text-align: center;
    padding: var(--padding-2m);
    margin: 100px auto;
    max-width: 1200px;
}

.contents__title {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
    text-align: center;
}

.contents__container {
    display: grid;
    grid-template-columns: repeat(6, 100%);
    grid-auto-flow: column;
    overflow: auto hidden;
    margin-top: var(--margin-xl);
    text-align: center;
    max-width: 1200px;
    padding: var(--padding-2m);

    @media screen and (min-width: 480px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-l);
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
        overflow-x: hidden;
    }

    @media screen and (min-width: 800px) {
        gap: var(--gap-xl);
    }
    
}

.contents__card {
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid transparent;
  transition: transform 0.8s, background 0.8s, border 1s;
}

.contents__card:hover {
    transform: scale(1.05);
    border: 2px solid var(--tertiary-color);
}

.contents__card:hover .contents__image {
  opacity: 0;
}

.contents__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 2s;
}

.contents__card:nth-child(1):hover {
  background-image: url("../img/hbo-hover_0.webp");
}

.contents__card:nth-child(2):hover {
  background-image: url("../img/MAX-Hover.webp");
}

.contents__card:nth-child(3):hover {
  background-image: url("../img/DC-Hover.webp");
}

.contents__card:nth-child(4):hover {
  background-image: url("../img/WB-Hover.webp");
}

.contents__card:nth-child(5):hover {
  background-image: url("../img/CN-Hover.png");
}

.contents__card:nth-child(6):hover {
  background-image: url("../img/UCL-Hover.webp");
}




